Source: tar
Section: core
Priority: required
Maintainer: Dmitry Eremin-Solenikov <dbaryshkov@slind.org>
Build-Depends: debhelper (>> 3.0.0), gettext
XCS-Cross-Build-Depends:
XCS-Cross-Host-Build-Depends: debhelper (>= 3.0.0), gettext
Standards-Version: 3.6.1.0

Package: tar
Architecture: any
Pre-Depends: ${shlibs:Depends}
Conflicts: busybox, busybox-static
Replaces: busybox, busybox-static
Suggests: bzip2
Description: GNU tar
 Tar is a program for packaging a set of files as a single archive in tar
 format.  The function it performs is conceptually similar to cpio, and to
 things like PKZIP in the DOS world.  It is heavily used by the Debian package
 management system, and is useful for performing system backups and exchanging
 sets of files with others.

Package: tar-gnu
Architecture: any
Pre-Depends: ${shlibs:Depends}
Suggests: bzip2
Description: GNU tar
 Tar is a program for packaging a set of files as a single archive in tar
 format.  The function it performs is conceptually similar to cpio, and to
 things like PKZIP in the DOS world.  It is heavily used by the Debian package
 management system, and is useful for performing system backups and exchanging
 sets of files with others.
